body{
background-image: url("swirl_pattern.png");
}


#main_div{
float: left;
border: 6px solid white;
width: 400px;
height: 500px;
text-align:center;
background-color: #FFFACD;
border-radius: 15px;
margin-left: 50px;
}


#display{
float: right;
margin-right: 300px;
border: 6px solid white;
width: 400px;
height: 500px;
text-align:center;
background-color: #D3D3D3;
border-radius: 15px;
}

h1{
margin-top: 50px;
margin-left: 420px;
align-content: center;
}

hr{
margin-top: 50px;
width: 100%;

}

h2{
clear: left;
}

#sec_div{
margin:auto;
}


#search{
margin:auto;

}

#addbutton{
	margin-top: 10px;
margin-bottom: 20px;

margin-left: 7px;

}

#listbutton{
margin-bottom: 20px;
}

#ssearch{
margin-top: 10px;
}

#email{
margin-left: 30px;
}

#phone{
margin-left: 27px;
}

#displayparagraph{
margin-top: 50px;
}