body{

background-image: url("footer_lodyas.png");

}

.btn{
background-color: #32CD32;
width: 350px;
height: 100px;
border:12px solid white;
border-radius: 30px;
margin: auto;
margin-bottom: 40px;


}

h2{
color: white;
margin-left:100px;
margin-top: 30px;
}

h1{

margin-left: 500px;
color: white;

}

a{
text-decoration: none;
}